.about-us {
    height: 950px;


}

.about-us__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: 'Montserrat';
    height: 50%;

    padding-block: 100px;

    color: hsla(0, 0%, 0%, 1);
}

.about-us__heading {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    font-weight: 600;
}

.about-us__description {
    text-align: center;
    font-family: 'Lato', sans-serif;
    /* max-width: 45ch; */
    font-size: 18px;
}

.bg {
    justify-self: flex-end;
    background-image: url('/peakpx2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /* z-index: 2;
    position: relative; */
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.highlight-heading {

    font-size: 80px;
    color: white;
    font-weight: 600;
}

.highlight-text {
    color: white;
    font-size: 30px;

}

@media (width<=1135px) {
    .about-us__container {
        padding: 20px;
    }

    .about-us__heading {
        font-size: 1.8rem;
    }

    .about-us__description {
        font-size: 0.8rem;
    }

    .about-us {
        height: 100vh;
    }

    .highlight-heading {
        font-size: 60px;
    }

    .highlight-text {
        color: white;
        font-size: 20px;

    }


    /* .bg {
        position: absolute;
        overflow-x: hidden;
        width: 100%;
    } */
}