.hero {
    /* background-image: url('https://source.unsplash.com/shallow-focus-photo-of-brown-cranes-jutV-62S_tQ'); */
    background-image: url("../assets/Navami.png");
    height: calc(100vh - 100px);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background-size: cover;
    display: flexbox;

}

.hero-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 0) 39%);
}

.hero-text-heading {
    font-size: 36px;
    font-weight: 700;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.hero-text-content {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    max-width: 50ch;
}


.hero-container {
    height: inherit;
    display: flex;
    align-items: end;
    padding-bottom: 50px;
}

@media (width<=1135px) {
    .hero {
        height: 450px;
    }

    .hero-container {
        padding: 20px;
    }


    .hero-text-heading {
        font-size: 1.8rem;
        font-weight: 600;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .hero-text-content {
        font-family: 'Lato', sans-serif;
        font-size: 0.8rem;
        color: white;
        margin-top: 10px;
        /* max-width: 50ch; */
    }
}