.projects {
    /* padding-block: 100px; */
    background-color: rgba(250, 250, 250, 0.918);

}

.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects__text {
    padding-block: 80px;
}

.projects__heading {
    font-size: 58px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

@media (width<=1135px) {
    .projects__grid {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0px;
        row-gap: 0px;
    }

    .projects__heading {
        font-size: 2rem;
    }

    .projects__text {
        padding: 50px;
    }


}